<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeus.mapper.TravelMapper">

	<select id="list" resultType="com.zeus.domain.Travel">
		SELECT tno, title, destination,
		trip_date as tripDate, regdate, moddate
		FROM travel_info
		ORDER BY tno
		DESC
	</select>

	<insert id="create" parameterType="com.zeus.domain.Travel">
		<selectKey keyProperty="tno" resultType="int" order="BEFORE">
			SELECT
			seq_travel.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO travel_info (tno, title, destination, trip_date)
		VALUES
		(#{tno}, #{title}, #{destination}, #{tripDate})
	</insert>

	<insert id="createDetail"
		parameterType="com.zeus.domain.TravelDetail">
		INSERT INTO travel_detail (tno, transport, description)
		VALUES (#{tno}, #{transport}, #{description})
	</insert>

	<select id="read" resultType="com.zeus.domain.Travel">
		SELECT * FROM travel_info WHERE tno
		= #{tno}
	</select>

	<select id="readDetail"
		resultType="com.zeus.domain.TravelDetail">
		SELECT * FROM travel_detail WHERE tno = #{tno}
	</select>

	<update id="update">
		UPDATE travel_info
		SET title = #{title},
		destination =
		#{destination},
		trip_date = #{tripDate},
		moddate = SYSDATE
		WHERE tno =
		#{tno}
	</update>

	<update id="updateDetail">
		UPDATE travel_detail
		SET transport = #{transport},
		description = #{description}
		WHERE tno = #{tno}
	</update>

	<delete id="deleteDetail">
		DELETE FROM travel_detail WHERE tno = #{tno}
	</delete>

	<delete id="delete">
		DELETE FROM travel_info WHERE tno = #{tno}
	</delete>

</mapper>